<md-content>
    <div layout-align="center center">
        <div>
            <md-whiteframe style="margin: 25px;"
                           class="md-whiteframe-6dp"
                           layout="column"
                           layout-align="center center">
                <h1 style="color: slategrey">
                    NETFRIX
                </h1>
                <span style="color: lightslategray;  padding-bottom: 12px">
                    Laboratório 03 - Sistemas de Informação I
                </span>
            </md-whiteframe>
        </div>
    </div>
</md-content>
